body {
    background: cornflowerblue;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

title {
    align-self: center;
    text-align: center;
}

table {
    border-style: solid;
    border-color: white;
    align-self: center;
}